@font-face {
    font-family: 'OpenSans';
    src: url('assets/fonts/OpenSans-Regular.ttf');
  }

:root {
    --accentColor: #fa8072;
    --font: 'OpenSans', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

#banner{
    background-image: url('assets/img/banner4.png'); 
    background-size: cover;
    background-position: 0 15%;
    height: 150px; 
}
#profile img{
    background-image: url("assets/img/profile.png");
}
.header{

}