#banner{
    position: relative;
    background-image: url('assets/img/banner4.png'); 
    background-size: cover;
    background-position: 0 15%;
    height: 150px;
    display: block; 
}
#profile{
    position: relative;
    top: 120px;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    margin: 0px auto 0px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-image: url("assets/img/profile.png");
}
#card{
    display: block;
    position: center;
    border: 5px solid red;
}
@media only screen and (min-width: 600px){
    #banner{
        height: 200px;
    }
}