@font-face {
    font-family: 'OpenSans';
    src: url('assets/fonts/OpenSans-Regular.ttf');
  }

:root {
    --accentColor: #fa8072;
    --font: 'OpenSans', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}
#card {
    max-width: 30rem;
    margin: 0 auto;
}

#cardMenu {
    display: none;
}
#banner {
    position: relative;
    background-image: url('assets/img/banner4.png');
    background-size: cover;
    background-position: 0 15%;
    height: 150px;
    z-index: 0;
} 


#header {
    text-align: center;
    margin-top: 65px;
}

#profile, #profile img {
}

@media only screen and (min-width: 600px) {
    #profile, #profile img {
    position: absolute;
    transform: translate(0, 30%);
    left: 50px;
    width: 300px;
    height: 300px;
    border: 5px solid white;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-image: url("assets/img/profile.png");
    z-index: 5;
}
  
    #banner {
    height: 400px;
} 
#card {
    max-width: 90%;
    position: center;
        border: 1px solid #cecece;
        box-shadow: 10px 10px 0 rgb(220 220 220 / 50%);
        background: white;
        border-radius: 10px;
        z-index: -1;
}
    #cardText {
    position: center;
    text-align: center;
    font-size: 9px;
    color: #87B6D3;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
}
#cardBar {
    background: #e9f6fd;\
    height: 25px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: 0 auto;

        z-index: 0;
        

}
    
 #links {
    position: relative;
padding: 30px 10px;
}
 .link {
    font-family: var(--font);
    font-weight: bold;
    position: center;
    background-color: #ffffff;
    color: var(--accentColor);
    border: solid var(--accentColor) 1px;
    border-radius: 50px;
    font-size: 2rem;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 10px; /* 17px */
    text-decoration: none;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
}  
.disabled {
    font-family: var(--font);
    font-weight: bold;
    position: center;
    background-color: #ffffff;
    color: #b5b5b5;
    border: solid #b5b5b5 1px;
    border-radius: 50px;
    font-size: 2rem;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 10px; /* 17px */
    text-decoration: none;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    -webkit-tap-highlight-color: transparent;
    cursor: not-allowed;
    display: inline-block;
}
 #profile, #profile img {
    top: 5%;
    z-index: 1;
}

 #header {
    position: center;
    padding: 0 0 0;

} 
.headerName {
    font-family: var(--font);
    position: relative;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.25;
    color: #ffffff;
    padding: 30px 0 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--accentColor);

} 
.headerText {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    text-align: center;
    text-decoration: none;
    color: #87B6D3;
}
}

#header {
    padding: 30% 0 0;
}


.dek {
    position: relative;
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
}


#links {
}
@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: #ffffff;
    }
}

.link:active {
    background-color: var(--accentColor);
    color: #ffffff;
}

.disabled {
}

@media (hover: hover) {
    .disabled:hover {
        background-color: #ececec;
        color: #b5b5b5;
    }
}

#footer {
    position: relative;
    padding-bottom: 20px;
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    color: #87B6D3;
    font-weight: bold;
    margin-top: 100px;
}